.City {
  padding: 30px;
  border: 1px solid #707070;
  border-radius: 10px;
  height: fit-content;
  max-width: 700px;
}

ul {
  list-style: none;
  color: #007bff;
  font-size: 20px;
  font-weight: 100;
  line-height: 19px;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
li {
  float: left;
}
li a {
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
